# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/
.venv/
pyvenv.cfg
Lib/
Include/
Scripts/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.sqlite3
*.db

# Others
*.bak
*.swp
*.swo

# Exclude site-packages
site-packages/
