<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} </title>
    <!-- Bootstrap local -->
    <link href="{{ url_for('static', filename='vendor/bootstrap5/bootstrap.min.css')}}" rel="stylesheet" crossorigin="anonymous">
    <!-- Login custom style -->
    <link href="{{ url_for('static', filename='css/login.css')}}" rel="stylesheet">
    {% block customCSS %}{% endblock %}
</head>
<body style="background-color: #fff;">
    {% block body %}{% endblock %}
    <script src="{{ url_for('static', filename='vendor/bootstrap5/bootstrap-bundle.min.js') }}" crossorigin="anonymous"></script>

</body>
</html>